@import "tailwindcss";

@theme {
  --color-background-primary: #050505;
  --color-background-secondary: #0F0F10;
  --color-background-tertiary: #19191A;
  --color-content-body: #CDCBCC;
  --color-placeholder: #827D7F;
  --color-headline: #B2B2B2;
  --color-borderPrimary: #19191A;
  --color-borderSecondary: #323234;
  --color-borderTertiary: #97979B;
  --color-accent-purple: #4B2DBB;
  --color-accent-green: #87BB2D;
  --color-accent-pink: #B5446B;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.3);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.5);
}

::-webkit-scrollbar-track {
  background: transparent;
}
